html {
    scroll-behavior: smooth; /* For smooth scrolling when clicking the link buttons*/
    
  }

  body{
    color : rgb(81, 250, 14);
    background-color: rgb(124, 56, 133);
  }

  .button {
    background-color: rgb(77, 46, 82);
    border: none;
    color: white;
    width : 20%;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    transition : background-color 0.5s, width 0.5s;

  }

  .button:hover{
    /* transiton time taken from transition in .button CSS*/
    background-color: #4CAF50;
    width : 25%;

  }

  a{
    /* Links */
    color :rgb(164, 236, 29)
  }