html {
  scroll-behavior: smooth; /* For smooth scrolling when clicking the link buttons*/
  
}

body{
  color : rgb(229, 238, 241);
  background-color: rgb(64,64,64); 
  text-align: center;
  font-family: courier;
}

#header{
  background-image: linear-gradient(-45deg, #308d5a, #14216d, #792e6c, #7c2d3e );
  /*background-size: 400% 400%;*/
}


img { /* Crisp pixel art*/
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

nav{
  
  display: flex; /* Flexbox */
  justify-content: center; /* centre the navbar contaning links*/
  flex-direction: row;
}


.button {
  background-color: rgb(44, 44, 44);
  border: none;
  color: white;
  width : 10%;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
  transition : background-color 0.5s, width 0.5s;
  
}

.button:hover{
  /* transiton time taken from transition in .button CSS*/
  background-color: rgb(15,153,203);
  width : 15%;
  
}
@media (max-width: 480px) { /*If width less than 480px then*/
  .button {
    width : 20%;
  }
  
  .button:hover{
    /* transiton time taken from transition in .button CSS*/
    background-color: rgb(15,153,203);
    width : 25%;
    
  }
  
  ul{
    width:80%;
  }

  .card{
    width:100%;
  }
  
}


a{
  /* Links */
  color :rgb(15,153,203);
}

ul{
  display: table;
  margin: 0 auto;
  width : 60%;
  text-align: left;
  
}

ul li {
  color: rgb(255, 255, 255);
  /*background: rgb(37,37,48);*/
  border-radius: 5px;
  margin: 5px;
  border-style: solid ;
  border-width: thin;
  /*box-shadow: 5px 5px 10px rgb(218, 216, 216);*/
  
  list-style-position: inside;
  list-style-type: none;/*Hide bullet dots in links*/   
  
}

ul li li{ /*Overwrite for list within list*/
  box-shadow: 0px 0px 0px grey;
  border-style: none;
}

.cards{
  display: table;
  margin: 0 auto;
  width : 60%;
  text-align: left;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width : 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}