html {
    scroll-behavior: smooth; /* For smooth scrolling when clicking the link buttons*/
    
  }

  body{
    color : rgb(81, 250, 14);
    background-color: rgb(124, 56, 133);
  }

  nav{

    display: flex; /* Flexbox */
    justify-content: center; /* centre the navbar contaning links*/
    flex-direction: row;
  }


  .button {
    background-color: rgb(77, 46, 82);
    border: none;
    color: white;
    width : 10%;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    transition : background-color 0.5s, width 0.5s;

  }

  .button:hover{
    /* transiton time taken from transition in .button CSS*/
    background-color: #4CAF50;
    width : 15%;

  }

  a{
    /* Links */
    color :rgb(164, 236, 29)
  }


  ul li {
    color: blueviolet;
    background: #f7f3f5;
    border-radius: 5px;
    width: 40%;
    margin: 5px;
    list-style-position: inside;
  }